body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
h1 {
    text-align: center;
}