<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body>
    <h1>Đăng ký</h1> 
    <form method="POST">
        <input name="username" placeholder="Tên đăng nhập">
        <input name="password" type="password" placeholder="Mật khẩu">
        <button type="submit">Đăng ký</button>
    </form>
    <a href="{{ url_for('login') }}">Đăng nhập</a>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</body>
</html>

